.hero {
    padding: 5.6vw;
    min-height: 120vh;
    background-image: url(../images/hero.jpeg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px){
        background-image: url(../images/hero.jpeg);
        padding-top: calc(25vw + 12px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -25px;
    }


    &__content{
        max-width:360px;
        max-height: 50%;

        @media (max-width: 768px){ 
            display: none;
        }
        

        &__branding{
            max-width: 100px;
            margin: 10px auto ;


        }

        p{ 
            margin-bottom: 10px;
        }
    }
}